#logout {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
#character {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#character_stats {
	padding: 10px;
	position: absolute;
	top: 10px;
	left: 10px;
	outline: 1px solid darkgray;
}
#table-equipment, hr, #table-inventory {
	float: right;
	clear:both;
}
hr {
	visibility: hidden;
}
#chat {
	position: absolute;
	padding: 5px;
	background: lightgrey;
	outline: 1px solid darkgrey;
	height: 30%;
	left: 25%;
	right: 25%;
	bottom: 10px;
	overflow-y: auto;
	font-size: 13px;
}
#chat_input {
	position: absolute;
	outline: 1px solid darkgrey;
	bottom: 35%;
	left: 25%;
	width: 49%;
}

#canvas {
	position: absolute;
	top: 1%;
	left: 15%;
	width: 70%;
	height: 50%;
	outline: 1px solid darkgrey;
}